:root {
  --main-bg-color: #131313;

  --main-txt-color: #fff;
  --green-txt-color: #1C6211;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'VT323', monospace;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

.wrapper {
  margin-top: 2em;
  width: 90%;
  margin-inline: auto;
}